header {
    background-color: #2C3E4F;
    min-height: 80px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

section {
    min-height: 400px;
}

section:nth-child(odd) {
    background-color: #19BC9C;

}

.bg-blu {
    background-color: blue;
    min-height: 100px;
}

.card {
    background-color: #3B536D;
    min-height: 200px;
    max-width: 100%;
}

footer {
    background-color: #2C3E4F;
    min-height: 80px;
}

#around {
    background-color: #3B536D;
    min-height: 200px;
}